.Card {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: #F6F5FA;
    width: 10%;
    height: 100%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.16);
}
@media only screen and (min-width:600px) {
    .Card {
        max-width: 472px;
        max-height: 246px;
    }   
}
